
# Created by https://www.gitignore.io/api/linux,visualstudiocode
# Edit at https://www.gitignore.io/?templates=linux,visualstudiocode

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/linux,visualstudiocode
.htaccess
php53.cgi
include/ost-config.php
setup/cli/modules/importer
*.sw[a-z]
.DS_Store
.vagrant
._.DS_Store
Vagrantfile

# Staging directory used for packaging script
stage

# Ignore packaged plugins and language packs
*.phar

# Ignore mPDF temp files
include/mpdf/ttfontdata
include/mpdf/tmp
nbproject/
